footer{
	text-align: center;
	background-color: #087830;
	color: #71BC78;
	padding-bottom: 5px;
	padding-top: 5px;
}

#linkedin{
	color: #71BC78;
	transition: 0.5s;
}

#linkedin:hover{
	color: white;
}