*{
	font-family: arial;
}

#navBarName{
	color: #71BC78;
	transition: 0.5s;
}

#navBarName:hover{
	color: white;
}

#item1{
	color: #71BC78;
	transition: 0.5s;
}

#item1:hover{
	color: white;
	text-decoration: none;
}

#item2{
	color: #71BC78;
	transition: 0.5s;
}

#item2:hover{
	color: white;
	text-decoration: none;
}

#item3{
	color: #71BC78;
	transition: 0.5s;
}

#item3:hover{
	color: white;
	text-decoration: none;
}

#item4{
	color: #71BC78;
	transition: 0.5s;
}

#item4:hover{
	color: white;
	text-decoration: none;
}