*{
	font-family: arial;
}

#nav{
	position: sticky;
	top: 0;
	z-index: 100;
}

nav{
	background-color: #087830;
}

#navBarName{
	color: #71BC78;
	transition: 1s;
	position: relative;
	display: none;
}

#navBarName:hover{
	color: white;
}

#item1{
	color: #71BC78;
	transition: 1s;
	position: relative;
	display: none;
}

#item1:hover{
	color: white;
	text-decoration: none;
}

#item2{
	color: #71BC78;
	transition: 1s;
	position: relative;
	display: none;
}

#item2:hover{
	color: white;
	text-decoration: none;
}

#item3{
	color: #71BC78;
	transition: 1s;
	position: relative;
	display: none;
}

#item3:hover{
	color: white;
	text-decoration: none;
}

#item4{
	color: #71BC78;
	transition: 1s;
	position: relative;
	display: none;
}

#item4:hover{
	color: white;
	text-decoration: none;
}

#item5{
	color: #71BC78;
	transition: 1s;
	position: relative;
	display: none;
}

#item5:hover{
	color: white;
	text-decoration: none;
}