#textField{
	margin-bottom: -32px;
}

#werkLink{
	color: #71BC78;
	text-decoration: none;
	transition: 0.5s;
}

#skillsLink{
	color: #71BC78;
	text-decoration: none;
	transition: 0.5s;
}

#werkLink:hover{
	color: #087830;
	font-size: 22px;
}

#skillsLink:hover{
	color: #087830;
	font-size: 22px;
}

.skills{
	color: #087830;
}

.verplicht{
	color: red;
}

#submit{
	margin-bottom: 10px;
	color: #71BC78;
	background-color: #087830;
	border: 1px solid #087830;
}
